.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-logo {
  width: 20rem;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 10px #ffe81f);
}

.about-title {
  font-size: 2rem;
  color: #ffe81f;
  margin-bottom: 1.5rem;
}

.about-text {
  line-height: 1.7;
  margin-bottom: 1rem;
  color: #dcdcdc;
}

.about-text a {
  color: #ffe81f;
  text-decoration: none;
}

.about-text a:hover {
  text-decoration: underline;
}
