.layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #0b0c10;
    color: #ffffff;
    margin-top: 1rem;
    padding: 4rem;
    border: 1px solid hsl(0, 0%, 100%);
}