.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.title {
    font-size: 3rem;
    color: #ffe81f;
}

.form-container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-input {
    width: 20rem;
    height: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    outline: none;
    padding: 0.5rem;
}

.form-btn {
    width: 10rem;
    height: 2rem;
    color: #0b0c10;
    background-color: #ffe81f;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 0.25rem;
}

.form-error-message {
    color:hsl(0, 70%, 60%);
}

.login-link {
    color: white;
    text-decoration: none;
}

.login-link:hover {
    color:#ffe81f;

}
