.link {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

li .active {
  color: hsl(61, 100%, 50%);
}

.list {
  background-color: hsl(0, 0%, 10%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 30rem;
  height: 3rem;
  border: 1px solid hsl(0, 0%, 100%);
  list-style: none;
}