* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    background: #403169;
    background: linear-gradient(90deg, rgba(64, 49, 105, 1) 0%, rgba(81, 148, 219, 1) 40%, rgba(231, 150, 84, 1) 60%, rgba(237, 221, 83, 1) 100%); 
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 10px;
}