.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #0b0c10;
  color: #ffffff;
  margin-top: 1rem;
  padding: 4rem;
  border: 1px solid hsl(0, 0%, 100%);
}

.home-title {
  font-size: 3rem;
  color: #ffe81f; 
  margin-bottom: 20px;
}

.home-description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #d1d1d1;
}

.home-btn {
  background-color: #ffe81f;
  width: 12rem;
  height: 2rem;
  color: #000;
  font-weight: 700;
  border: 2px solid hsl(0, 0%, 100%);
  margin: 1rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

.home-btn:hover {
  background-color: #fff04d;
  transform: scale(0.98);
}

.home-img {
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(255, 232, 31, 0.4);
}

